*{
    box-sizing: border-box;
}
.checkbox{
    /* width: 36px;
    height: 36px; */
    /* accent-color: yellow; */
    position: absolute;
    opacity: 0;
    /* display: none; */
}
.checkbox-container label{
    /* background-color: coral; */
    border: 1px solid gray;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.checkbox-container label:hover{
    border-color:#512BC6 ;

}
/* .checkbox:checked + label{
    background-color:#512BC6 ;
} */
.checkbox:focus +label,label:active{
    border-color:#512BC6 ;
    outline: 2px solid #CFBFFF
}

.checkbox-container label .rectangle{
    width: 15px;
    height: 15px;
    top: 2.5px;
    left: 2.5px;
    border-width: 2px;
    background-color: #5128C6;
    display: none;


}
.checkbox:checked + label .rectangle{
    display: block;
}