@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #E6E6F1;
    padding: 20px;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 90vh;
    gap: 20px;

}

.dark{
    background-color: rgb(20, 18, 18);
    color: white;

}

.container{
    border: 2px solid black;
    padding: 20px;
    
}
.light{
    background-color:#E6E6F1;
    color: black;
}
